<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Sistema Hotelaria</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
    </ul>
    <form class="form-inline my-2 my-lg-0">
    <ul class="navbar-nav mr-auto">
    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
    <a class="nav-link" href="#">Login</a>
    </u>
    </form>
  </div>
</nav>

<form>
<div class="container center">

  <div class="form-row">
    <div class="col-md-3 mb-3">
      <label for="validationDefault01">Nome:</label>
      <input type="text" class="form-control" id="validationDefault01" required>
    </div>
    <div class="col-md-3 mb-3">
      <label for="validationDefault02">Telefone:</label>
      <input type="text" class="form-control" id="validationDefault02" required>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-3 mb-3">
      <label for="validationDefault03">CPF:</label>
      <input type="text" class="form-control" id="validationDefault03" required>
    </div>
    <div class="col-md-3 mb-3">
      <label for="validationDefault03">RG:</label>
      <input type="text" class="form-control" id="validationDefault03" required>
    </div>
    </div>
    <div class="form-row">
    <div class="col-md-3 mb-3">
      <label for="validationDefault03">Endereço:</label>
      <input type="text" class="form-control" id="validationDefault03" required>
    </div>
    <div class="col-md-3 mb-3">
      <label for="validationDefault03">Email:</label>
      <input type="text" class="form-control" id="validationDefault03" required>
    </div>
    </div>
  <div class="form-group">Data de nascimento:
    <div class="form-check">
      <input class="form-check-input" type="date" value="" id="invalidCheck2" required>
      <label class="form-check-label" for="invalidCheck2">
      </label> 
    </div>
  </div>

  <%= link_to "Teste", homes_teste_path %>
</div>
</form>

